@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: Orbitron;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  line-height: 45px;
  color: white;
  font-family: Orbitron;
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

.globalContainer {
  /* background-color: blue; */
  background: linear-gradient(
      180deg,
      rgba(4, 120, 255, 0.502031) 0%,
      rgba(255, 255, 255, 0.759459) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.759459) 0%,
      rgba(255, 255, 255, 0.502031) 100%
    );
  position: relative;
  /* border: 3px solid red; */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 867px;
  height: 130px;
  background: #779add;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 62px;
  margin-top: 52px;
}

#defaultCanvas0 {
  /* display: flex;  */
  /* position: relative;
  align-items: center; */
  width: 540px;
  height: 380px;
  /* margin-right: auto;*/
  margin-top: 50px;

  background: white;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.start-btn {
  font-size: 18px;
  color: white;
  border-radius: 20px;
  background: #6782b9;
  border: 4px solid #ffffff;
  width: 195px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.start-btn:hover {
  cursor: pointer;
}

.titles {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  margin-top: 5px;
}

.jp {
  font-size: 32px;
  color: white;
  font-family: Orbitron;
  margin-top: -25px;
  margin-left: 20px;
}

.banner > a {
  text-decoration: none;
}

.container-assistant {
  /* position: absolute; */
  margin-left: 38px;
  display: flex;
  align-items: center;
  bottom: 0;
}

.test-assistant {
  position: absolute;
  background-color: red;

  height: 0px;
}
.character-assistant {
  bottom: 530px;
  left: 170px;

  /* border-radius: 20px; */
  /* right:400px; */
  /* background-color: black; */

  /* background-color: white; */
  /* z-index: -1; */
}

.talk-area {
  width: 949px;
  margin-top: 107px;

  height: 77px;
  border-radius: 20px;
  border: 2px solid white;
  /* margin-left: -175px; */
  text-align: center;
  font-size: 28px;
  line-height: 75px;
  color: white;
  font-weight: 500;
  background: #779add;
  z-index: 1;
}

.talk-area span {
  margin-left: 180px;
}

.menu {
  margin-top: -139px;
  z-index: 9999;
}

.menu ul {
  list-style: none;
}

.menu li {
  width: 304px;
  height: 50px;
  background: linear-gradient(
    180deg,
    #779add -18.05%,
    rgba(0, 87, 255, 0) 100.96%
  );
  border-radius: 12px;
  line-height: 52px;
  text-align: center;
  margin-top: 34px;
  border: 2px solid #ffffff;
  color: white;
  margin-left: 20px;
  font-weight: 500;
  background: #779add;
}

.menu li:hover {
  background: linear-gradient(
    180deg,
    #779add -18.05%,
    rgba(0, 87, 255, 0) 100.96%
  );

  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: white;
}

/* GAME EVENTS  */

.game-events {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 670px;
  margin-right: 60px;
}
.time-remaining {
  width: 314px;
  height: 94px;
  background: #779add;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.score {
  width: 314px;
  height: 94px;
  background: #779add;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.objects {
  width: 314px;
  height: 180px;
  background: #779add;
  border: 2px solid #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 28px;
  color: white;
}

.object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notice {
  width: 314px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background: #779add;
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  line-height: 34px;
  text-align: center;
  margin-top: 30px;
}

.titles-events {
  text-align: center;
  font-size: 28px;
  color: white;
  line-height: 46px;
}

.credits {
  position: absolute;
  width: 380px;
  height: 33px;
  background: #779add;
  border-radius: 20px;
  color: white;
  text-align: center;
  line-height: 32px;
  bottom: 32px;
  right: 21px;
}

.logout-btn {
  width: 140px;
  height: 34px;
  border-radius: 20px;
  position: absolute;
  right: 68px;
  border: 1px solid white;
  top: 98px;
  color: white;
  text-align: center;
  line-height: 30px;
}

.logout-btn:hover {
  background: #779add;
  cursor: pointer;
}

.bloc-login {
  width: 1034px;
  height: 595px;
  background: #779add;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bloc-signup {
  width: 1034px;
  height: 595px;
  background: #779add;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bloc-login > marquee {
  text-align: center;
  color: white;
}

.bloc-login > div {
  color: white;
  text-align: center;
  padding-left: 27%;
  padding-right: 27%;
}

.bloc-login > table,
th,
td {
  color: white;
  text-align: center;
  /* border: 4px solid white; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.bloc-login > table {
  width: 90%;
  /* border-collapse: collapse; */
  margin-left: auto;
  margin-right: auto;
}

#middle {
  display: flex;
}

.first {
}
.second {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.third {
  margin-top: -115px;
  display: flex;
  align-items: center;
}

/* CSS ADAM  */

/* CSS ALEXANDRE */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 540px;
  justify-content: space-evenly;
  color: white;
}

.login-form input {
  width: 390px;
  height: 36px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
  z-index: 99999;
}
.login-form select {
  width: 390px;
  height: 36px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
}
.login-form select {
  width: 390px;
  height: 36px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
}

.login-form label:nth-child(1) {
  margin-right: 332px;
}

.login-form label:nth-child(3) {
  margin-right: 280px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 544px;
  justify-content: space-evenly;
  color: white;
}

.signup-form input {
  width: 390px;
  height: 36px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
  z-index: 99999;
}

.signup-form select {
  width: 390px;
  height: 36px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
}

/* 
.menu li {
  width: 304px;
  height: 50px;
  background: linear-gradient(
    180deg,
    #779add -18.05%,
    rgba(0, 87, 255, 0) 100.96%
  );
  border-radius: 12px;
  line-height: 52px;
  text-align: center;
  margin-top: 34px;
  border: 2px solid #ffffff;
  color: white;
  margin-left: 20px;
  font-weight: 500;
  background: #779add;
}

.menu li:hover {
  background: linear-gradient(
    180deg,
    #779add -18.05%,
    rgba(0, 87, 255, 0) 100.96%
  );

  cursor: pointer;
} */

.btn-form {
  width: 207px;
  height: 44px;
  background: #779add;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  text-decoration: none;
  font: 400 13.3333px Arial;

  color: white;
  text-align: center;
  line-height: 30px;
}

.btn-form:hover {
  background: #779add;
  cursor: pointer;
}

.btn-form span {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

/* .menu li {
  width: 304px;
  height: 50px;
  background: linear-gradient(
    180deg,
    #779add -18.05%,
    rgba(0, 87, 255, 0) 100.96%
  );
  border-radius: 12px;
  line-height: 52px;
  text-align: center;
  margin-top: 34px;
  border: 2px solid #ffffff;
  color: white;
  margin-left: 20px;
  font-weight: 500;
  background: #779add;
}

.menu li:hover {
  background: linear-gradient(
    180deg,
    #779add -18.05%,
    rgba(0, 87, 255, 0) 100.96%
  );

  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: white;
} */

.bloc-profile {
  width: 1034px;
  height: 595px;
  background: #779add;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bloc-stats {
  width: 1034px;
  height: 595px;
  background: #779add;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.object img {
  width: 70px;
}

.banner-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo-pos {
  margin-top: -55px;
  margin-right: 26px;
  height: 226px;
  animation: rotate 37s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.bloc-login img {
  height: 47px;
  padding: 20px;
}

.loader {
  width: 1034px;
  height: 595px;
  background-color: #9badd0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.loader p {
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  color: white;
}

/* //FULLSCREEN */

.btn-container {

  margin-top: 500px;
}

.btn-fullscreen {

  margin-top: 500px;

  /* cursor: pointer; */
}

.btn-screen {

  margin-top: 500px;
  /* cursor: pointer; */
}

/* 
.WaveformContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px; 
  width: 100%;
  background: transparent;
}

.PlayButton {

  display: flex;
  justify-content: center;
  align-items: center;
width: 60px;
height: 60px;
background: #EFEFEF;
border-radius: 50%;
border: none;
outline: none;
cursor: pointer;
padding-bottom: 3px;
}

.wave {

  width: 100%;
height: 90px;
} */

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 20em;
  padding-bottom: 1.7em;
  padding-top: 1.7em;
  align-items: center;
  color: white;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: appear 0.3s;
  /* background-color: #779add; */
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  line-height: 2em;

  /* color: white; */
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0em);
  }
}

.modal a {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 100%;
  background: white
    url("https://fonts.gstatic.com/s/i/materialiconsoutlined/close/v17/24px.svg")
    center;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}
